.InvertedButton{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 12px;
    height: 52px;

    font-family: Asap;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid gray; /* Green */
}

.ColorButton{
    border-radius: 12px;
    width: 100%;
    color: white;
    font-family: Asap;
    font-weight: 500;
    font-size: 16px;
    height: 52px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid gray;
    background-color: #4285F4;
}